@import "../../styles/design.module";

/* Mixins */

@mixin __setColor($color) {
    background-color: $color;
    &:hover {
        opacity: 0.8;
    }
}
@mixin __setGhost($accent_color) {
    color: var(--color-text);
    background-color: var(--color-gray-0) !important;
    box-shadow: inset 0 0 0 2px $accent_color;

    &:hover:not([disabled]) {
        color: var(--color-gray-0);
        background-color: $accent_color !important;
        opacity: 1;
    }
}

@mixin getDefaultStyle($color) {
    @include __setColor($color);
    &_ghost {
        @include __setGhost($color);
    }
}

/* Classes */

.button {

    /* Default styles */

    border: none;
    padding: 10px 22px;
    color: var(--color-gray-0);
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    font-family: var(--font-family-primary);
    transition: all 0.2s ease-out;

    &:hover {
        cursor: pointer;
    }
    
    &:disabled {
        cursor: not-allowed;
        opacity: 0.8;
    }

    /* Appearance */

    &_primary{
        @include getDefaultStyle(var(--color-primary));
    }
    &_secondary{
        @include __setColor(var(--color-secondary));
        color: var(--color-text) !important;
    }
    &_success{
        @include getDefaultStyle(var(--color-success));
    }
    &_warning{
        @include getDefaultStyle(var(--color-warning));
    }
    &_danger{
        @include getDefaultStyle(var(--color-danger));
    }
    &_dark{
        @include getDefaultStyle(var(--color-gray-18));
    }

    /* Size */

    &_small{
        font-size: 12px;
        padding: 8px 17px;
    }

    &_large{
        font-size: 16px;
        padding: 12px 25px;
    }
}