.icon {
    display: inline-block;
    position: relative;

    background-repeat: no-repeat;
    background-position: 50%;

    &>svg{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &_xs{
        width: 1rem;
        height: 1rem;
    }
    &_s{
        width: 2rem;
        height: 2rem;
    }
    &_m{
        width: 3rem;
        height: 3rem;
    }
    &_n{
        width: 4rem;
        height: 4rem;
    }
    &_l{
        width: 5rem;
        height: 5rem;
    }
}
.icon::after {
    visibility: hidden;
    content: '\00A0';
}